body{
    background-image:url(drew-coffman-1872.jpg);
    width: 100%;
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
       
}
#aboutus{
    
    background-color: rgb(0, 0,0,0.5);
    border: 5px,double,black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
}
h1{
    color: rgb(206, 196, 159);
    text-align: center;
    font-style: italic;
}
#done{
    color: rgb(206, 196, 159);
    text-align: center; 
    font-size: large;
    font-weight: 400;
    font-style: italic;
}
.product{
    background-color:rgb(0, 0,0,0.5) ;
    margin: 0;
    width: 39%;
    display: inline-block;
    margin: 5%;
    border-radius: 20px;
    border: 2px,solid,black;
}
img{
    width: 100%;
}
h2{
    text-align: center;
    color: rgb(206, 196, 159);
    font-style: italic;
    
}
.price{
     color: rgb(206, 196, 159);
     text-align: center;
     font-style: italic;
     font-weight: bold;
     font-size: xx-large;

}
